/* navbar start */
.body-text {  
	display: flex;  
	font-family: "Montserrat", sans-serif;  
	align-items: center;  
	justify-content: center;  
	margin-top: 250px;  
  }
  
  nav {  
  position:relative ;
  margin-top: auto;
	display: flex;  
	justify-content: space-around;  
	align-items: center;  
	min-height: 8vh;  
	background-color: teal;  
	font-family: "Montserrat", sans-serif;  
  }
  
  .heading {  
	color: white;  
	text-transform: uppercase;  
	letter-spacing: 5px;  
	font-size: 20px;  
  }
  
  .nav-links {  
	display: flex;  
	justify-content: space-around;  
	width: 30%;  
  }
  
  .nav-links li {  
	list-style: none;  
  }
  
  .nav-links a {  
	color: white;  
	text-decoration: none;  
	letter-spacing: 3px;  
	font-weight: bold;  
	font-size: 14px;  
	padding: 14px 16px;  
  }
  
  .nav-links a:hover:not(.active) {  
	background-color: lightseagreen;  
  }
  
  .nav-links li a.active {  
	background-color: #4caf50;  
  }

  /* nav bar ends */
  
 
 
 
 
 
 /* login page start */



@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("../img/photo.png");;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/*footer start */

.footer-container {
	background-color: #212329;
	padding-bottom: 4rem 0 4rem 0;
  }
  
  .footer {
	width: 80%;
	height: 40vh;
	background-color: #212329;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
  }
  
  .footer-heading {
	display: flex;
	flex-direction: column;
	margin-right: 4rem;
  }
  
  .footer-heading h2 {
	margin-bottom: 2rem;
  }
  
  .footer-heading a {
	color: #fff;
	text-decoration: none;
	margin-bottom: .5rem;
  
  }
  
  .footer-heading a:hover {
	color: red;
	transition: .3s ease-out;
  }
  
  .footer-email-form h2 {
	margin-bottom: 2rem;
  }
  
  #footer-email {
	width: 250px;
	height: 40px;
	border-radius: 4px; 
	outline: none;
	border: none;
	padding-left: .5rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
  }
  
  #footer-email::placeholder {
	color: #b1b1b1;
  }
  
  #footer-email-button {
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color: #f9423d;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1rem;
  }
  
  #footer-email-button:hover {
	cursor: pointer;
	background-color: #337af1;
	transition: all .4s ease-out;
  }
  
  @media screen and (max-width: 1150px) {
	.footer {
	  height: 40vh;
	}
	.footer-email-form {
	  margin-top: 2rem;
	}
  }
  
  @media screen and (max-width: 820px) {
	.footer {
	  padding-top: 1rem;
	}
  }
  
  @media screen and (max-width: 720px) {
	.footer-3 {
	  display: none;
	}
	.footer-email-form {
	  margin-top: 1rem;
	}
  }
  /* footer end */