* {
	margin: 0px;  
	padding: 0px;  
	box-sizing: border-box;  
  }

/* navbar start */
  .body-text {  
	display: flex;  
	font-family: "Montserrat", sans-serif;  
	align-items: center;  
	justify-content: center;  
	margin-top: 250px;  
  }
  
  nav {  
  position:relative ;
  margin-top: auto;
	display: flex;  
	justify-content: space-around;  
	align-items: center;  
	min-height: 8vh;  
	background-color: teal;  
	font-family: "Montserrat", sans-serif;  
  }
  
  .heading {  
	color: white;  
	text-transform: uppercase;  
	letter-spacing: 5px;  
	font-size: 20px;  
  }
  
  .nav-links {  
	display: flex;  
	justify-content: space-around;  
	width: 30%;  
  }
  
  .nav-links li {  
	list-style: none;  
  }
  
  .nav-links a {  
	color: white;  
	text-decoration: none;  
	letter-spacing: 3px;  
	font-weight: bold;  
	font-size: 14px;  
	padding: 14px 16px;  
  }
  
  .nav-links a:hover:not(.active) {  
	background-color: lightseagreen;  
  }
  
  .nav-links li a.active {  
	background-color: #4caf50;  
  }

  /* nav bar ends */

  /* cards */
  .cards {
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }

  

.btn:hover{
    background-color: black;
    color: white;
}

.dish-type{
    color: green;
    position: relative;
    top: 5px;
}

.card-stats-container{
    display: flex;
    justify-content: center;
}

.stats-heading{
    font-size: 1em;
    color: #8e8e8e;
    margin-bottom: .7em;
}

.stats-para{
    font-size: 1.5em;
    font-weight: bold;
}

.carousel-inner{
    height: 450px;
	margin-top: 5px;
}

/* cards :end */

/* food details */

h3{
  text-align: center;
  margin-top: 20px;
}






/*footer start */

.footer-container {
  text-align: center;
  background-color: #212329;
  padding-bottom: 4rem 0 4rem 0;
}

.footer {
  width: 80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  /* text-align: center; */
  margin-top: 30px;
  color: yellow;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: .5rem;

}

.footer-heading a:hover {
  color: red;
  transition: .3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px; 
  outline: none;
  border: none;
  padding-left: .5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-button:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all .4s ease-out;
}

@media screen and (max-width: 1150px) {
  .footer {
    height: 40vh;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .footer-3 {
    display: none;
  }
  .footer-email-form {
    margin-top: 1rem;
  }
}
/* footer end */



/* cards details */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
  text-align: center;
}

.grid .text h3 {
  font-size: 1.4rem;
  font-family: 'Fredoka One', cursive;
}

.grid .text p {
  font-size: 0.9rem;
}

.grid .text p a {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  font-family: 'Courgette', cursive;
}


/* cards details  */




/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}




